[package]
name = "audio-processor-graph"
version = "0.1.0"
edition = "2018"

[dependencies]
audio-processor-traits = { version = "1.0.0-alpha.1", path = "../audio-processor-traits" }
daggy = "^0.7.0"
thiserror = "^1.0.26"
audio-garbage-collector = { path = "../audio-garbage-collector" , version = "1.0.0-alpha.2" }
concread = "0.2.19"
num-traits = "0.2.14"
augmented_oscillator = { path = "../oscillator" , version = "1.0.0-alpha.3" }

[dev-dependencies]
audio-processor-testing-helpers = { path = "../../testing/audio-processor-testing-helpers" }
audio-processor-utility = { path = "../audio-processor-utility" }
audio-processor-time = { path = "../audio-processor-time" }
augmented-dsp-filters = { path = "../../dsp/dsp-filters" , version = "1.0.0-alpha.1" }
audio-processor-standalone = { path = "../../application/audio-processor-standalone" }

[package.metadata.augmented]
