[package]
name = "audio-processor-graph"
version = "2.1.0"
description = "Run graphs of AudioProcessors"
edition = "2018"
license = "MIT"
authors = ["Pedro Tacla Yamada (@yamadapc) <tacla.yamada@gmail.com>"]
homepage = "https://github.com/yamadapc/augmented-audio"
repository = "https://github.com/yamadapc/augmented-audio"

[dependencies]
audio-processor-traits = { version = "4.1.0", path = "../audio-processor-traits" }
daggy = "0.8"
thiserror = "^1.0.26"
audio-garbage-collector = { path = "../audio-garbage-collector" , version = "1.2.0" }
num-traits = "0.2.14"
augmented_oscillator = { path = "../oscillator" , version = "1.3.0" }

[dev-dependencies]
audio-processor-testing-helpers = { path = "../../testing/audio-processor-testing-helpers" , version = "2.5.0" }
audio-processor-utility = { path = "../audio-processor-utility" , version = "2.2.0" }
audio-processor-time = { path = "../audio-processor-time" , version = "1.2.0" }
augmented-dsp-filters = { path = "../../dsp/dsp-filters" , version = "2.2.0" }
audio-processor-standalone = { path = "../../application/audio-processor-standalone", version = "3.2.0" }
assert_no_alloc = { version = "1.1.2", features = ["disable_release"], default-features = false }

criterion = "0.4"

[package.metadata.augmented]
private = false

[[bench]]
name = "graph_processor_bench"
harness = false
