[package]
name = "audio-processor-time"
version = "1.3.0"
edition = "2021"
description = "Time based effects processors: delay/reverb"
license = "MIT"
homepage = "https://github.com/yamadapc/augmented-audio"
repository = "https://github.com/yamadapc/augmented-audio"

[features]
default = []
clap = ["audio-processor-standalone/clap"]

[[example]]
name = "delay"

[[example]]
name = "delay_vst"
crate-type = ["cdylib"]

[[example]]
name = "delay_clap"
required-features = ["clap"]
crate-type = ["cdylib"]

[package.metadata.augmented]
processor_examples = ["delay"]
vst_examples = ["delay_vst"]
private = false

[dependencies]
assert_no_alloc = "1.1.2"
audio-processor-traits = { path = "../audio-processor-traits", version = "4.2.0" }
audio-garbage-collector = { path = "../audio-garbage-collector", version = "1.2.0" }
rand = { version = "0.8.5", features = ["small_rng"] }
nalgebra = "0.31.0"
augmented_oscillator = { version = "1.4.0", path = "../oscillator" }
augmented-atomics = { version = "0.2.0", path = "../../data/atomics" }
augmented-dsp-filters = { version = "2.2.0", path = "../../dsp/dsp-filters" }

[dev-dependencies]
audio-processor-standalone = { version = "3.2.0", path = "../../application/audio-processor-standalone", features = ["gui"] }
audio-processor-standalone-gui = { path = "../../application/audio-processor-standalone-gui" , version = "0.9.0" }
