[package]
name = "audio-processor-time"
version = "0.1.0-alpha.2"
edition = "2021"
description = "Time based effects processors: delay/reverb"
license = "MIT"
homepage = "https://github.com/yamadapc/augmented-audio"
repository = "https://github.com/yamadapc/augmented-audio"

[[example]]
name = "delay"

[[example]]
name = "delay_vst"
crate-type = ["cdylib"]

[package.metadata.augmented]
processor_examples = ["delay"]
vst_examples = ["delay_vst"]
private = true

[dependencies]
audio-processor-traits = { path = "../audio-processor-traits" , version = "1.0.0-alpha.5" }
audio-garbage-collector = { path = "../audio-garbage-collector" , version = "1.0.0-alpha.4" }

[dev-dependencies]
audio-processor-standalone = { version = "1.0.0-alpha.9", path = "../../application/audio-processor-standalone" }
audio-processor-standalone-gui = { path = "../../application/audio-processor-standalone-gui" }
