[package]
name = "audio-processor-time"
version = "0.1.0"
edition = "2021"

[[example]]
name = "delay"

[[example]]
name = "delay_vst"
crate-type = ["cdylib"]

[package.metadata.augmented]
processor_examples = ["delay"]
vst_examples = ["delay_vst"]
private = true

[dependencies]
audio-processor-traits = { path = "../audio-processor-traits" , version = "1.0.0-alpha.1" }
audio-garbage-collector = { path = "../audio-garbage-collector" , version = "1.0.0-alpha.2" }

[dev-dependencies]
audio-processor-standalone = { version = "1.0.0-alpha.4", path = "../../application/audio-processor-standalone" }
