[package]
name = "audio-processor-utility"
version = "0.1.0"
edition = "2018"
license = "MIT"
authors = ["Pedro Tacla Yamada (@yamadapc) <tacla.yamada@gmail.com>"]
homepage = "https://github.com/yamadapc/augmented-audio"
repository = "https://github.com/yamadapc/augmented-audio"

[package.metadata.augmented]
processor_examples = ["gain", "mono", "pan"]
private = true

[dependencies]
audio-processor-traits = { version = "1.0.0-alpha.6", path = "../audio-processor-traits" }
audio-garbage-collector = { path = "../audio-garbage-collector" , version = "1.0.0-alpha.4" }

[dev-dependencies]
audio-processor-standalone = { version = "1.0.0-alpha.10", path = "../../application/audio-processor-standalone" }
audio-processor-testing-helpers = { version = "1.0.0-alpha.6", path = "../../testing/audio-processor-testing-helpers" }
