[package]
name = "webview-holder"
version = "0.1.0"
authors = ["yamadapc <tacla.yamada@gmail.com>"]
edition = "2018"

[dependencies]
serde = { version = "^1.0.126", features = ["derive"] }
log = "^0.4.11"
serde_json = "^1.0.64"
tokio = { version = "^1.6.0", features = ["rt", "macros", "sync", "time", "rt-multi-thread"] }

[package.metadata.augmented]
private = true

[target.'cfg(target_os = "macos")'.dependencies]
darwin-webkit = { version = "^0.1.3", path = "../darwin-webkit" }
cocoa = "^0.24"
objc = "^0.2.7"
