[submodule "crates/darwin-webkit"]
	path = crates/darwin-webkit
	url = https://github.com/yamadapc/rust-darwin-webkit
[submodule "crates/vendor/iced-baseview"]
	path = crates/vendor/iced-baseview
	url = https://github.com/yamadapc/iced_baseview
[submodule "crates/vendor/baseview"]
	path = crates/vendor/baseview
	url = https://github.com/yamadapc/baseview
[submodule "crates/vendor/iced"]
	path = crates/vendor/iced
	url = https://github.com/yamadapc/iced
[submodule "crates/vendor/iced_audio"]
	path = crates/vendor/iced_audio
	url = https://github.com/yamadapc/iced_audio
[submodule "crates/vendor/lyon"]
	path = crates/vendor/lyon
	url = git@github.com:yamadapc/lyon
[submodule "crates/vendor/vst"]
	path = crates/vendor/vst
	url = git@github.com:yamadapc/vst-rs
[submodule "crates/vendor/piet"]
	path = crates/vendor/piet
	url = git@github.com:yamadapc/piet
[submodule "crates/vendor/pathfinder"]
	path = crates/vendor/pathfinder
	url = git@github.com:yamadapc/pathfinder
[submodule "crates/vendor/skribo"]
	path = crates/vendor/skribo
	url = git@github.com:yamadapc/skribo
[submodule "crates/augmented/data/augmented-midi/midir"]
	path = crates/augmented/data/augmented-midi/midir
	url = https://github.com/yamadapc/midir/
[submodule "crates/daisy/DaisySP"]
	path = crates/daisy/DaisySP
	url = https://github.com/electro-smith/DaisySP
[submodule "crates/daisy/libDaisy"]
	path = crates/daisy/libDaisy
	url = https://github.com/electro-smith/libDaisy
[submodule "crates/vendor/libsamplerate-sys"]
	path = crates/vendor/libsamplerate-sys
	url = git@github.com:yamadapc/libsamplerate-sys
[submodule "crates/vendor/assert-no-alloc"]
	path = crates/vendor/assert-no-alloc
	url = git@github.com:yamadapc/rust-assert-no-alloc
[submodule "crates/vendor/cpal"]
	path = crates/vendor/cpal
	url = git@github.com:yamadapc/cpal
[submodule "crates/apps/metronome/vendor/macos_ui"]
	path = crates/apps/metronome/vendor/macos_ui
	url = git@github.com:GroovinChip/macos_ui
