[submodule "crates/darwin-webkit"]
	path = crates/darwin-webkit
	url = https://github.com/yamadapc/rust-darwin-webkit
[submodule "crates/vendor/plotters"]
	path = crates/vendor/plotters
	url = https://github.com/yamadapc/plotters
[submodule "crates/vendor/iced-baseview"]
	path = crates/vendor/iced-baseview
	url = https://github.com/yamadapc/iced_baseview
[submodule "crates/vendor/baseview"]
	path = crates/vendor/baseview
	url = https://github.com/yamadapc/baseview
[submodule "crates/vendor/iced"]
	path = crates/vendor/iced
	url = https://github.com/yamadapc/iced
[submodule "crates/vendor/iced_audio"]
	path = crates/vendor/iced_audio
	url = https://github.com/yamadapc/iced_audio
[submodule "crates/vendor/lyon"]
	path = crates/vendor/lyon
	url = git@github.com:yamadapc/lyon
[submodule "crates/vendor/libloading"]
	path = crates/vendor/libloading
	url = git@github.com:yamadapc/rust_libloading
[submodule "crates/vendor/vst"]
	path = crates/vendor/vst
	url = git@github.com:yamadapc/vst-rs
[submodule "crates/vendor/piet"]
	path = crates/vendor/piet
	url = git@github.com:yamadapc/piet
[submodule "crates/vendor/pathfinder"]
	path = crates/vendor/pathfinder
	url = git@github.com:yamadapc/pathfinder
[submodule "crates/vendor/skribo"]
	path = crates/vendor/skribo
	url = git@github.com:yamadapc/skribo
