[submodule "crates/darwin-webkit"]
	path = crates/darwin-webkit
	url = https://github.com/yamadapc/rust-darwin-webkit
[submodule "crates/vendor/iced-baseview"]
	path = crates/vendor/iced-baseview
	url = https://github.com/yamadapc/iced_baseview
[submodule "crates/vendor/baseview"]
	path = crates/vendor/baseview
	url = https://github.com/yamadapc/baseview
[submodule "crates/vendor/vst"]
	path = crates/vendor/vst
	url = git@github.com:yamadapc/vst-rs
[submodule "crates/vendor/libsamplerate-sys"]
	path = crates/vendor/libsamplerate-sys
	url = git@github.com:yamadapc/libsamplerate-sys
[submodule "crates/vendor/assert-no-alloc"]
	path = crates/vendor/assert-no-alloc
	url = git@github.com:yamadapc/rust-assert-no-alloc
[submodule "crates/vendor/cpal"]
	path = crates/vendor/cpal
	url = git@github.com:yamadapc/cpal
[submodule "crates/apps/metronome/vendor/macos_ui"]
	path = crates/apps/metronome/vendor/macos_ui
	url = git@github.com:GroovinChip/macos_ui
[submodule "crates/vendor/coreaudio-rs"]
	path = crates/vendor/coreaudio-rs
	url = git@github.com:yamadapc/coreaudio-rs
