[package]
name = "audio-processor-traits"
description = "Traits for audio processor types and audio buffer types. Heavily subject to change."
version = "4.2.0"
authors = ["Pedro Tacla Yamada (@yamadapc) <tacla.yamada@gmail.com>"]
edition = "2018"
license = "MIT"
homepage = "https://github.com/yamadapc/augmented-audio"
repository = "https://github.com/yamadapc/augmented-audio"

[features]
default = []
vst = ["dep:vst"]

[dependencies]
num = "^0.4.0"
vst = { version = "0.3", path = "../../../vendor/vst", optional = true }
augmented-atomics = { path = "../../data/atomics" , version = "0.2.0" }
audio-garbage-collector = { path = "../audio-garbage-collector" , version = "1.2.0" }

[dev-dependencies]
criterion = "0.4"
augmented_oscillator = { version = "1.4.0", path = "../oscillator" }

[[bench]]
name = "audio_processor_traits_criterion"
harness = false

[package.metadata.augmented]
private = false
