<html>
<head>
    <title>Coverage report</title>
    <style>
body {
    font-family: sans-serif;
}
    </style>
</head>
<body>
    <h1>Test coverage report</h1>

    <ul>
    {{#each files}}
        <li>
            <a href="/source_files/{{path}}">{{path}}</a>
        </li>
    {{/each}}
    </ul>
</body>
</html>