<html>
<head>
    <title>Coverage report</title>
    <style>
body {
    font-family: sans-serif;
}

h1 {
    white-space: nowrap;
    font-size: 1em;
}

pre, code {
    margin: 0;
    padding: 0;
}

.source-line.covered {
    color: green;
}

.source-line.not-covered {
    color: red;
}
    </style>
</head>
<body>
    <h1>{{ source_file.path }}</h1>

    {{#each contents.lines}}
        <div class="source-line {{covered}}">
            <pre><code>{{line}} </code></pre>
        </div>
    {{/each}}
</body>
</html>