[package]
name = "audio-processor-bitcrusher"
version = "0.3.0"
edition = "2021"
license = "MIT"
description = "Implements a simple bitcrusher based on sample-and-hold."
authors = ["Pedro Tacla Yamada (@yamadapc) <tacla.yamada@gmail.com>"]
homepage = "https://github.com/yamadapc/augmented-audio"
repository = "https://github.com/yamadapc/augmented-audio"

[[example]]
name = "bitcrusher_vst"
crate-type = ["cdylib"]

[dependencies]
audio-processor-traits = { version = "2.2.0", path = "../audio-processor-traits" }
audio-garbage-collector = { version = "1.1.1", path = "../audio-garbage-collector" }

[dev-dependencies]
audio-processor-standalone = { version = "1.4.0", path = "../../application/audio-processor-standalone", features = ["gui"] }
audio-processor-standalone-gui = { path = "../../application/audio-processor-standalone-gui" , version = "0.6.0" }
audio-processor-testing-helpers = { version = "1.3.0", path = "../../testing/audio-processor-testing-helpers" }

[package.metadata.augmented]
processor_examples = ["bitcrusher"]
vst_examples = ["bitcrusher_vst"]
private = false
