[package]
name = "audio-processor-metronome"
version = "1.0.0-alpha.3"
description = "Implements a simple metronome processor"
license = "MIT"
edition = "2021"

[dependencies]
augmented_oscillator = { path = "../oscillator" , version = "1.0.0-alpha.6" }
audio-processor-traits = { path = "../audio-processor-traits" , version = "1.0.0-alpha.8" }
audio-processor-standalone = { path = "../../application/audio-processor-standalone" , version = "1.0.0-alpha.13" }
audio-garbage-collector = { path = "../audio-garbage-collector" , version = "1.0.0-alpha.6" }
augmented-playhead = { path = "../../data/augmented-playhead" , version = "0.1.0-alpha.8" }
augmented-adsr-envelope = { path = "../adsr-envelope" , version = "0.1.0-alpha.7" }

[package.metadata.augmented]
private = false
