.RotaryControl {
  display: flex;
  max-width: 120px;
  height: 80px;
  margin: 0 5px;
  margin-top: 10px;
  color: white;
  padding-right: 20px;
  position: relative;
  user-select: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.RotaryControl__Container {
  flex: 1;
  width: 50px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.RotaryControl .RotaryControl__ParameterName {
  align-self: start;
  text-align: left;
}

.RotaryControl .RotaryControl__Value {
  position: absolute;
  bottom: 15px;
  left: 30px;
  word-break: keep-all;
  white-space: nowrap;
}

.RotaryControl svg {
  margin-right: 5px;
  cursor: all-scroll;
}

.RotaryControl .RotaryControl__Circle .RotaryControl__Circle__Background {
  transform-origin: 50% 50%;
  transform: rotate(90deg);
  fill: none;
  stroke: #181818;
}

.RotaryControl .RotaryControl__Circle .RotaryControl__Circle__Value {
  stroke: #21aaf8;
  stroke-width: 7px;
  fill: transparent;
}

.RotaryControl .RotaryControl__Circle .RotaryControl__Circle__Knob {
  transition: scale ease-in-out 0.2s;
  stroke: #cdcdcd;
  stroke-width: 2px;
  fill: white;
}

.RotaryControl input {
  width: 100%;
}
