[package]
name = "looper-processor"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
log = "^0.4.14"
basedrop = "^0.1.2"
num = "^0.4.0"
num-traits = "0.2.14"
num-derive = "0.3.3"
uuid = { version = "^0.8.2", features = ["v4"] }
rimd = "^0.0.1"

augmented-playhead = { path = "../../../augmented/data/augmented-playhead" }
audio-garbage-collector = { version = "1.0.0-alpha.2", path = "../../../augmented/audio/audio-garbage-collector" }
audio-processor-standalone = { version = "1.0.0-alpha.5", path = "../../../augmented/application/audio-processor-standalone" }
audio-processor-traits = { version = "1.0.0-alpha.2", path = "../../../augmented/audio/audio-processor-traits" }
wisual-logger = { version = "0.1", path = "../../../augmented/ops/wisual-logger" }
mockall = "0.11.0"

[dev-dependencies]
audio-processor-testing-helpers = { path = "../../../augmented/testing/audio-processor-testing-helpers" , version = "1.0.0-alpha.2" }
