[package]
name = "looper-processor"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
log = "^0.4.14"
basedrop = "^0.1.2"
num = "^0.4.0"
num-traits = "0.2.14"
num-derive = "0.3.3"
uuid = { version = "^0.8.2", features = ["v4"] }
rimd = "^0.0.1"
rand = "0.8.4"
augmented-adsr-envelope = { version = "0.1.0-alpha.2", path = "../../../augmented/audio/adsr-envelope" }

augmented-atomics = { path = "../../../augmented/data/atomics" , version = "0.1.0-alpha.3" }
augmented-playhead = { path = "../../../augmented/data/augmented-playhead" , version = "0.1.0-alpha.2" }
audio-garbage-collector = { version = "1.0.0-alpha.2", path = "../../../augmented/audio/audio-garbage-collector" }
audio-processor-standalone = { version = "1.0.0-alpha.7", path = "../../../augmented/application/audio-processor-standalone" }
audio-processor-traits = { version = "1.0.0-alpha.3", path = "../../../augmented/audio/audio-processor-traits" }
wisual-logger = { version = "0.1", path = "../../../augmented/ops/wisual-logger" }
mockall = "0.11.0"
derive_builder = "0.10.2"
atomic_refcell = "0.1.8"

[dev-dependencies]
audio-processor-testing-helpers = { path = "../../../augmented/testing/audio-processor-testing-helpers" , version = "1.0.0-alpha.3" }
criterion = "^0.3.4"

[[bench]]
name = "looper_processor_criterion"
harness = false
