[package]
name = "metronome"
version = "0.1.0"
edition = "2021"
homepage = "https://github.com/yamadapc/augmented-audio"
repository = "https://github.com/yamadapc/augmented-audio"
license = "AGPL-3.0"

[lib]
crate-type = ["staticlib", "lib"]

[dependencies]
audio-processor-metronome = { path = "../../augmented/audio/audio-processor-metronome" }
audio-processor-standalone = { path = "../../augmented/application/audio-processor-standalone" , version = "1.0.0-alpha.9" }
audio-garbage-collector = { path = "../../augmented/audio/audio-garbage-collector" , version = "1.0.0-alpha.4" }
anyhow = "1.0.52"
log = "^0.4.14"
flutter_rust_bridge = "^1.13.0"
lazy_static = "1.4.0"

[build-dependencies]
cbindgen = "^0.20.0"
flutter_rust_bridge_codegen = "^1.13.0"

[package.metadata.augmented]
private = true
