[package]
name = "example-iced-audio-viz"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
iced = { path = "../../vendor/iced", version = "^0.3.0", features = ["tokio", "canvas"] }
basedrop = "^0.1.2"
log = "^0.4.14"
cpal = { version = "^0.13.3" }
vst = { path = "../../vendor/vst" }

audio-processor-standalone = { path = "../../augmented/application/audio-processor-standalone" }
audio-garbage-collector = { path = "../../augmented/audio/audio-garbage-collector" }
atomic-queue = { path = "../../augmented/data/atomic-queue" }
circular-data-structures = { path = "../../augmented/data/circular-data-structures" }
audio-processor-traits = { version = "^0.3", path = "../../augmented/audio/audio-processor-traits" }