[package]
name = "audio-processor-standalone-gui"
version = "0.1.0"
edition = "2021"

[features]
default = [
    "iced",
    "iced_audio",
    "iced_baseview",
    "iced-editor",
    "audio-processor-iced-design-system",
    "baseview",
    "glow",
    "iced/tokio",
    "iced_baseview/tokio",
]
glow = [
    "iced/glow",
    "iced_baseview/glow",
    "iced/glow_canvas",
    "iced_baseview/glow_canvas",
    "audio-processor-iced-design-system/glow",
]
wgpu = [
    "iced/wgpu",
    "iced_baseview/wgpu",
    "iced/canvas",
    "iced_baseview/canvas",
    "audio-processor-iced-design-system/wgpu",
]

[dependencies]
audio-processor-traits = { version = "1.0.0-alpha.4",  path = "../../audio/audio-processor-traits" }
vst = { version = "0.2.1", path = "../../../vendor/vst" }

# GUI dependencies
iced = { version = "^0.3.0", path = "../../../vendor/iced", default-features = false, optional = true }
iced_baseview = { path = "../../../vendor/iced-baseview", default-features = false, optional = true }
iced_audio = { path = "../../../vendor/iced_audio", default-features = false, optional = true }
baseview = { path = "../../../vendor/baseview", optional = true }
iced-editor = { path = "../../gui/iced-editor", optional = true }

[dependencies.audio-processor-iced-design-system]
path = "../../gui/audio-processor-iced-design-system"
default-features = false
optional = true


[package.metadata.augmented]
private = false
