[package]
name = "audio-processor-standalone-gui"
version = "0.6.0"
description = "Provides generic `iced` GUI for implementations of `audio_processor_traits::parameters::AudioProcessorHandle`"
edition = "2021"
license = "MIT"
authors = ["Pedro Tacla Yamada (@yamadapc) <tacla.yamada@gmail.com>"]
homepage = "https://github.com/yamadapc/augmented-audio"
repository = "https://github.com/yamadapc/augmented-audio"

[features]
default = [
    "iced",
    "iced_baseview",
    "augmented-iced-editor",
    "audio-processor-iced-design-system",
    "baseview",
    "wgpu",
    "iced/tokio",
    "iced_baseview/tokio",
]
glow = [
    "iced/glow",
    "iced_baseview/glow",
    "iced/canvas",
    "iced_baseview/canvas",
    "audio-processor-iced-design-system/glow",
]
wgpu = [
    "iced/wgpu",
    "iced_baseview/wgpu",
    "iced/canvas",
    "iced_baseview/canvas",
    "audio-processor-iced-design-system/wgpu",
]

[dependencies]
audio-processor-traits = { version = "3.2.0",  path = "../../audio/audio-processor-traits" }
vst = { version = "0.3", path = "../../../vendor/vst" }

# GUI dependencies
iced = { version = "0.8.0", default-features = false, optional = true }
iced_baseview = { version = "0.1", path = "../../../vendor/iced-baseview", package = "augmented_iced_baseview", default-features = false, optional = true }
baseview = { package = "augmented_baseview", path = "../../../vendor/baseview", version = "0.1", optional = true }
augmented-iced-editor = { path = "../../gui/iced-editor", optional = true , version = "1.3.0" }
audio-processor-iced-design-system = { path = "../../gui/audio-processor-iced-design-system", default-features = false, optional = true, version = "1.0.0" }
iced_audio = "0.11"

[package.metadata.augmented]
private = false
