[package]
name = "audio-processor-standalone-gui"
version = "0.1.0"
description = "Provides generic `iced` GUI for implementations of `audio_processor_traits::parameters::AudioProcessorHandle`"
edition = "2021"
license = "MIT"
authors = ["Pedro Tacla Yamada (@yamadapc) <tacla.yamada@gmail.com>"]
homepage = "https://github.com/yamadapc/augmented-audio"
repository = "https://github.com/yamadapc/augmented-audio"

[features]
default = [
    "iced",
    "iced_audio",
    "iced_baseview",
    "iced-editor",
    "audio-processor-iced-design-system",
    "baseview",
    "wgpu",
    "iced/tokio",
    "iced_baseview/tokio",
]
glow = [
    "iced/glow",
    "iced_baseview/glow",
    "iced/canvas",
    "iced_baseview/glow_canvas",
    "audio-processor-iced-design-system/glow",
]
wgpu = [
    "iced/wgpu",
    "iced_baseview/wgpu",
    "iced/canvas",
    "iced_baseview/wgpu_canvas",
    "audio-processor-iced-design-system/wgpu",
]

[dependencies]
audio-processor-traits = { version = "1.0.0-alpha.8",  path = "../../audio/audio-processor-traits" }
vst = { version = "0.2.1", path = "../../../vendor/vst" }

# GUI dependencies
iced = { version = "0.4.2", default-features = false, optional = true }
iced_baseview = { path = "../../../vendor/iced-baseview", default-features = false, optional = true }
iced_audio = { version = "0.8.0", default-features = false, optional = true }
baseview = { path = "../../../vendor/baseview", optional = true }
iced-editor = { path = "../../gui/iced-editor", optional = true }

[dependencies.audio-processor-iced-design-system]
path = "../../gui/audio-processor-iced-design-system"
default-features = false
optional = true

[package.metadata.augmented]
private = true
