[package]
name = "audio-processor-file"
version = "1.0.0-alpha.2"
edition = "2021"
description = "`AudioProcessor` implementations for audio file playback & writing."
license = "MIT"
homepage = "https://github.com/yamadapc/augmented-audio"
repository = "https://github.com/yamadapc/augmented-audio"

[dependencies]
# Error / Logging
log = "^0.4.14"
thiserror = "^1.0.30"

# Parallelism
rayon = "^1.5.1"

# Audio read/write respectively
symphonia = { version = "^0.4.0", features = ["mp3", "wav", "flac", "isomp4", "aac"] }
symphonia-bundle-mp3 = "^0.4.0"
hound = "^3.4.0"

# Augmented
audio-garbage-collector = { path = "../../../augmented/audio/audio-garbage-collector" , version = "1.0.0-alpha.2" }
audio-processor-traits = { version = "1.0.0-alpha.3", path = "../../../augmented/audio/audio-processor-traits" }
augmented-audio-metrics = { path = "../../ops/augmented-metrics" , version = "1.0.0-alpha.1" }
augmented-convert-sample-rate = { path = "../../../augmented/dsp/convert-sample-rate" , version = "1.0.0-alpha.3" }

[dev-dependencies]
audio-processor-testing-helpers = { version = "1.0.0-alpha.3", path = "../../../augmented/testing/audio-processor-testing-helpers" }

[package.metadata.augmented]
private = false
