[package]
name = "plugin-host-gui2"
description = "A VST plugin host for development"
version = "0.1.0"
edition = "2018"

[dependencies]
actix = "0.12.0"
tokio = "1.13.0"
tokio-stream = { version = "0.1.8", features = ["sync"] }

dirs = "^3.0.2"
log = "^0.4.14"
tinyfiledialogs = "^3.0"
thiserror = "^1.0.25"
serde = { version = "^1.0.126", features = ["derive"] }
serde_json = "^1.0.64"
vst = { path = "../../../vendor/vst" }
baseview = { path = "../../../vendor/baseview" }
raw-window-handle = "0.3.3"
derive_more = "^0.99.16"
uuid = { version = "^0.8", features = ["v4"] }
notify = "^4.0.17"
md5 = "^0.7.0"
derivative = "^2.2.0"
opener = "^0.5.0"
shaku = { version = "^0.6.1", features = ["derive"] }

augmented = { path = "../../../augmented/augmented", features = ["glow"] }

audio-processor-traits = { version = "1.0.0-alpha.3", path = "../../../augmented/audio/audio-processor-traits" }
audio-garbage-collector = { path = "../../../augmented/audio/audio-garbage-collector" , version = "1.0.0-alpha.2" }
audio-processor-iced-storybook = { path = "../../../augmented/gui/audio-processor-iced-storybook" }
audio-processor-iced-design-system = { path = "../../../augmented/gui/audio-processor-iced-design-system", features = ["glow"], default-features = false }
augmented-audio-volume = { path = "../../../augmented/data/audio-volume" , version = "0.1.0-alpha.2" }
iced = { version = "^0.3.0", path = "../../../vendor/iced", features = ["debug", "glow", "glow_canvas"], default-features = false }
iced_core = { version = "^0.4", path = "../../../vendor/iced/core", default-features = false  }
iced_native = { version = "^0.4", path = "../../../vendor/iced/native", default-features = false }
iced_futures = { version = "^0.3", path = "../../../vendor/iced/futures" }
plugin-host-lib = { path = "../plugin-host-lib" }
wisual-logger = { version = "0.1", path = "../../../augmented/ops/wisual-logger" }

[dev-dependencies]
criterion = { version = "^0.3.4", features = ["html_reports"] }
augmented_oscillator = { path = "../../../augmented/audio/oscillator" }
audio-processor-testing-helpers = { path = "../../../augmented/testing/audio-processor-testing-helpers" , version = "1.0.0-alpha.3" }

[target.'cfg(target_os = "macos")'.dependencies]
cocoa = "^0.24.0"
objc = "^0.2.7"

[features]
default = ["story"]
glow = ["iced/glow", "iced/glow_canvas"]
story = []

[[bench]]
name = "plugin_host_gui_criterion"
harness = false

[package.metadata.app]
public-name = "Plugin Host"

[package.metadata.app.macos]
type = "app-template"
template-path = "./macos-app/Plugin Host.app"
