[package]
name = "plugin-host-gui2"
description = "A VST plugin host for development"
version = "0.1.0"
edition = "2018"
homepage = "https://github.com/yamadapc/augmented-audio"
repository = "https://github.com/yamadapc/augmented-audio"
license = "MIT"

[dependencies]
actix = "0.13.0"
tokio = { version = "1.13.0", features = ["macros"] }
tokio-stream = { version = "0.1.8", features = ["sync"] }

dirs = "^4.0.0"
log = "^0.4.14"
tinyfiledialogs = "^3.0"
thiserror = "^1.0.25"
serde = { version = "^1.0.126", features = ["derive"] }
serde_json = "^1.0.64"
vst = { path = "../../../vendor/vst", version = '0.3' }
baseview = { path = "../../../vendor/baseview", package = "augmented_baseview", version = "0.1" }
raw-window-handle = "0.5.1"
derive_more = "^0.99.16"
uuid = { version = "^1.1", features = ["v4"] }
notify = "^4.0.17"
md5 = "^0.7.0"
derivative = "^2.2.0"
opener = "^0.5.0"
shaku = { version = "^0.6.1", features = ["derive"] }

augmented = { path = "../../../augmented/augmented", features = ["wgpu"] }

audio-processor-traits = { version = "4.3.0", path = "../../../augmented/audio/audio-processor-traits" }
audio-garbage-collector = { path = "../../../augmented/audio/audio-garbage-collector", version = "1.2.0" }
audio-processor-iced-storybook = { path = "../../../augmented/gui/audio-processor-iced-storybook" , version = "1.0.0" }
audio-processor-iced-design-system = { path = "../../../augmented/gui/audio-processor-iced-design-system", features = ["wgpu"], default-features = false , version = "1.0.0" }
augmented-audio-volume = { path = "../../../augmented/data/audio-volume", version = "0.8.0" }
iced = { version = "0.8.0", features = ["debug", "wgpu", "canvas"], default-features = false }
iced_core = { version = "0.8.1", default-features = false }
iced_native = { version = "0.9.1", default-features = false }
iced_futures = { version = "0.6.0" }
plugin-host-lib = { path = "../plugin-host-lib" }
wisual-logger = { version = "0.1", path = "../../../augmented/ops/wisual-logger" }

[dev-dependencies]
criterion = { version = "0.4", features = ["html_reports"] }
augmented_oscillator = { path = "../../../augmented/audio/oscillator" , version = "1.4.0" }
audio-processor-testing-helpers = { path = "../../../augmented/testing/audio-processor-testing-helpers" , version = "2.6.0" }
tempdir = "0.3"

[target.'cfg(target_os = "macos")'.dependencies]
cocoa = "^0.24.0"
objc = "^0.2.7"

[features]
default = ["story"]
glow = ["iced/glow", "iced/canvas"]
story = []

[[bench]]
name = "plugin_host_gui_criterion"
harness = false

[package.metadata.augmented]
private = true

[package.metadata.app]
public-name = "Plugin Host"

[package.metadata.app.macos]
type = "app-template"
template-path = "./macos-app/Plugin Host.app"
