[package]
name = "audio-garbage-collector"
version = "1.0.0-alpha.1"
edition = "2018"
description = "Wrapper on top of `basedrop` that provides a drop-in GC API that'll collect reference-counted values on a background thread."
license = "MIT"
homepage = "https://github.com/yamadapc/augmented-audio"
repository = "https://github.com/yamadapc/augmented-audio"

[dependencies]
lazy_static = "1.4.0"
thiserror = "^1.0.26"
basedrop = "^0.1.2"
log = "^0.4.14"

[dev-dependencies]
wisual-logger = { version = "^0.1", path = "../../ops/wisual-logger" }

[package.metadata.augmented]
private = false
