[package]
name = "audio-processor-testing-helpers"
version = "1.3.0"
edition = "2018"
description = "Collection of testing utilities for audio processors"
license = "MIT"
homepage = "https://github.com/yamadapc/augmented-audio"
repository = "https://github.com/yamadapc/augmented-audio"


[dependencies]
audio-processor-traits = { version = "2.2.0", path = "../../audio/audio-processor-traits" }
augmented_oscillator = { path = "../../audio/oscillator" , version = "1.2.0" }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
plotters = { version = "0.3" }

[package.metadata.augmented]
private = false
