[package]
name = "audio-processor-testing-helpers"
version = "1.0.0-alpha.1"
edition = "2018"
description = "Collection of testing utilities for audio processors"
license = "MIT"
homepage = "https://github.com/yamadapc/augmented-audio"
repository = "https://github.com/yamadapc/augmented-audio"


[dependencies]
audio-processor-traits = { version = "1.0.0-alpha.2", path = "../../audio/audio-processor-traits" }
augmented_oscillator = { path = "../../audio/oscillator" , version = "1.0.0-alpha.3" }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
plotters = { version = "0.3" }

[package.metadata.augmented]
private = false
