[package]
name = "augmented-iced-editor"
version = "0.2.0"
edition = "2018"
description = "Iced based VST editor"
license = "MIT"
authors = ["Pedro Tacla Yamada (@yamadapc) <tacla.yamada@gmail.com>"]
homepage = "https://github.com/yamadapc/augmented-audio"
repository = "https://github.com/yamadapc/augmented-audio"

[features]
default = ["wgpu", "tokio"]
tokio = ["iced_baseview/tokio", "iced/tokio"]
glow = ["iced/glow", "iced/canvas", "iced_baseview/glow", "iced_baseview/canvas"]
wgpu = ["iced/wgpu", "iced/canvas", "iced_baseview/canvas", "iced_baseview/wgpu"]

[dependencies]
iced = { version = "0.5", default-features = false }
log = "^0.4.14"
vst = { version = "0.3.0", path = "../../../vendor/vst" }
wisual-logger = { version = "0.1.4", path = "../../ops/wisual-logger" }

baseview = { version = "0.1", path = "../../../vendor/baseview", package = "augmented_baseview" }
iced_baseview = { version = "0", path = "../../../vendor/iced-baseview", package = "augmented_iced_baseview", default-features = false, optional = true }
raw-window-handle = "0.4.3"

[target.'cfg(target_os = "macos")'.dependencies]
objc = "^0.2.7"
cocoa = "^0.24.0"

[package.metadata]
augmented.private = false
