.App {
  width: 100vw;
  height: 100vh;
  background: #393939;
  font-size: 12px;
  font-family: sans-serif;
  flex-direction: column;
  padding: 5px;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  display: flex;
}
