html {
  background: #3a3a3a;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #3a3a3a;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

div,
label {
  cursor: default;
  user-select: none;
}

button {
  user-select: none;
}

button,
select {
  user-select: none;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
