name: Dart

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: DAW - Dart - Build & test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1
      - name: Install dependencies
        run: cd ./crates/apps/daw && flutter pub get
      - name: Verify formatting
        run: cd ./crates/apps/daw && dart format --output=none --set-exit-if-changed .
      - name: Analyze project source
        run: cd ./crates/apps/daw && dart analyze
      - name: Run tests
        run: cd ./crates/apps/daw && flutter test

  build_metronome:
    name: Metronome - Dart - Build & test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1
      - name: Install dependencies
        run: cd ./crates/apps/metronome && flutter pub get
      - name: Verify formatting
        run: cd ./crates/apps/metronome && dart format --output=none --set-exit-if-changed .
      - name: Analyze project source
        run: cd ./crates/apps/metronome && dart analyze
      - name: Run tests
        run: cd ./crates/apps/metronome && flutter test
